


/* .statusbar{
    display: flex;
    position: fixed;
    width: 270px;
    padding-top: 10px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: space-around;
} 
.title{
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 10px;
    justify-content: center;
    align-items: center;
    top: 60px;

}
.title h3{
    font-size: 30px;
}

.tableOrInstruct{
    display: flex;
    position: absolute;
    top: 100px;
    text-align: center;
}


.th_idx,.th_up,.th_lookup,.th_date,.th_title{
    font-size: 4px;
    position: absolute;
}

.th_idx{
    left:10px;
}

.th_title{
    left:40px;
}
.th_up{
    left: 200px;
}
.th_date{
    left: 150px;
}
.th_lookup{
    left: 240px;
}
thead{
    height: 23px;
    width: 270px;
    border: 2px solid black;
}
/* #F84E75 */
/* a{
    display: inline-block;
} */