

.statusbar{
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
    display: inline-block;
}
.title{
    display: flex;
    flex-direction: column;
    height: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 17px;
}
.title h3{
    font-size: 30px;
}

.Login__form{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Login__form form{
    display: flex;
    flex-direction: column;
}
/* .Login__form form input{
    width: 163px;
    border: 3px solid rgba(0,0,0,0.5);
    transition: border ease-in-out 0.5s;

}
.Login__form form input:focus {
    border: 3px solid #f84e75;
} */


.Login__form form button{
    margin-top: 20px;
    height: 30px;
    width: 163px;
    background-color: #AD0409;
}
.Login__form form button:active{
    background-color: #8f0308;
}

.Login__form__find{
    display: flex;
    justify-content: center;
    
}
.Login__form__find__id,
.Login__form__find__pass,
.Login__form__find__admiss{
    color: rgba(0,0,0,0.5);
    border-left: 1px solid rgba(0,0,0,0.5);
    margin: 10px;
    padding-left: 10px;
    font-size: 5px;
}





.Login__form__find__id{
    border-left: 0px solid;
}
