@import 'reset.css';
.root{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 270px;
    background-color: #FEE140;
    background-image: linear-gradient(315deg, #FEE140 0%, #FA709A 81%);
    
}
.statusbar{
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
}
.title{
    display: flex;
    flex-direction: column;
    height: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 17px;
}
.title h3{
    font-size: 30px;
}
.title h5{
    font-size: 3px;
}
.SignUpform{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.SignUpform input{
    margin-bottom: 6px;
}