

.statusbar{
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
    overflow: scroll;
    overflow-y: scroll;
}
.title{
    display: flex;
    flex-direction: column;
    height: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 17px;
}
.title h3{
    font-size: 30px;
    /* padding-bottom: ; */
}
.title h5{
    font-size: 3px;
}
.SignUpform{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
